<!-- Date time partial -->

<header>
  <h1 id="date">Date here!</h1>
  <h1>Shahporan Masjid</h1>
  <h1 id="time">00:00:00</h1>
  <script>
    let time = new Date().toLocaleTimeString();
    document.getElementById("time").innerHTML = time;
    setInterval(() => {
      time = new Date().toLocaleTimeString();
      document.getElementById("time").innerHTML = time;
    }, 1000);
    let today = new Date().toLocaleDateString();
    document.getElementById("date").innerHTML = today;
    setInterval(() => {
      today = new Date().toLocaleDateString();
      document.getElementById("date").innerHTML = today;
    }, 60000 * 1440);
  </script>
</header>