body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;    
}

header {
    height: 75px;
    background-color: #ffffff;
    color: #234d75;
    text-align: center;
    line-height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    display: flex;
    height: calc(100% - 75px);
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
}

.left-half, .right-half {
    flex: 50%;
    height: 100%;
}

.left-half {
    background-color: #3171ad;
}

.right-half {
    background-color: #234d75;
}

.hidden {
    opacity: 40%;
}

.announcement-header {
    font-size: 3em;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.announcement-content {
    height: calc(100% - 96px);
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcements {
    text-align: center;
    color: #fff;
    margin:0;
}

#announceTitle {
    font-weight: 700;
}

#announceContent {
    font-weight: 350;
    text-align: center;
    padding: 0 20px;
}
