
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;    
}

header {
    height: 75px;
    background-color: #ffffff;
    color: #234d75;
    text-align: center;
    line-height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    display: flex;
    height: calc(100vh - 75px);
}

.left-half, .right-half {
    flex: 1;
    height: 100%;
}

.left-half {
    background-color: #3171ad;
}

.right-half {
    background-color: #234d75;
}

table {
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

th, td {
    text-align: left;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

td sub {
    font-weight: 100;
    font-size:21px;
}

th {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.hidden {
    opacity: 40%;
}

.announcements {
    text-align: center;
    color: #fff;
    padding: 60px;
}

#announceTitle {
    font-weight: 700;
    font-size: 72;
}

#announceContent {
    font-weight: 350;
    font-size: 64;
}


