<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/datetime.ejs") %>

  <div class="prayertimes">
    <h2>Salah Times</h2>
    <p><%= prayers[0]['fajr'] %></p>   
  </div>

  <div class="container">
    <div class="left-half">
        <table>
            <!-- <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            </tr> -->
            <tr>
            <td>Row 1, Column 1</td>
            <td>Row 1, Column 2</td>
            <td>Row 1, Column 3</td>
            </tr>
            <tr>
            <td>Row 2, Column 1</td>
            <td>Row 2, Column 2</td>
            <td>Row 2, Column 3</td>
            </tr>
            <tr>
            <td>Row 3, Column 1</td>
            <td>Row 3, Column 2</td>
            <td rowspan="2">Merged Data</td>
            </tr>
            <tr>
            <td>Row 4, Column 1</td>
            <td>Row 4, Column 2</td>
            </tr>
            <tr>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
            <td>Row 5, Column 3</td>
            </tr>
            <tr>
            <td>Row 6, Column 1</td>
            <td>Row 6, Column 2</td>
            <td>Row 6, Column 3</td>
            </tr>
        </table>
    </div>
    <div class="right-half">
        <h2>Right Half</h2>
    </div>
</div>

</body>
</html>