<html lang="en">
    <head>
      <%- include("../partials/head.ejs") %>
      <%- include("../partials/admin-head.ejs") %>
      <title>Inactive account</title>
    </head>
    
    <body>
      <%- include("../partials/datetime.ejs") %>
    
      <div class="admin-container">
        <h2>Your account is not yet active. Please wait for a member of staff to activate your account.
        </h2>   
        <a href="/shahporan"><button>Home</button></a>
    </div>
    
</html>