<html lang="en">
  <%- include("../partials/head.ejs") %>
  <%-include("../partials/admin-head.ejs") %>

  <body>
    <%- include("../partials/datetime.ejs") %>

    <div class="admin-container">
      <div class="content-box">
        <div class="header">
          <h2>Home</h2>
        </div>
        <div class="content">
          <a href="/shahporan/display"><button>Display mode</button></a>
          <a href="/shahporan/events-booking"><button>Book an event</button></a>
          <a href="/shahporan/admin"><button class="amber">Admin</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
